connected-components-3d 
h5py>=3.10.0
monai>=1.0.0  
torch>=2.1.1
numpy
scipy
scikit-image
nibabel
tqdm
fastremap
simpleitk
ipdb
matplotlib
tensorboardX
ml-collections
einops
timm
elasticdeform
numpy
nibabel
scipy
pandas
glob2
opencv-python
pytorch-lightning==1.6.4
